
body{
	font-family: serif;
	margin: 0;
	padding: 0;
	background: url(img2/fondo4.jpg)center;
	background-size: cover;
	border:none;

}
*{
	box-sizing: border-box;
}
header{
	background-color: #f1f1f1;
	border: 1px solid rgb(204, 171, 171);
	box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  background: url(img/banner.jpeg)center no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
}
.hamburger{
  min-height: 30px;
  max-width: 50px;
  margin-left: 75pc;
  margin-top: -2.5pc;
}
.hamburger .nav1 , .nav1 li, .nav1 a{
  display: none;
  width: 40pc;
  margin-top: 17pc;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: black;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: transform,opacity;
}
.hamburger-inner:before {
    top: 10px;
}
.hamburger-inner:after {
    top: 20px;

}
.hamburger.open .hamburger-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger.open .hamburger-inner .nav1, .nav1 li, .nav1 a{
    transform: translate3d(0,10px,0) rotate(-45deg);
    display: inline;
}
.hamburger.open .hamburger-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
}
.hamburger.open .hamburger-inner:before {
    transform: translate3d(0,-10px,0) rotate(90deg);
}

.nom{
  font-style: oblique;
  margin-top: 3.5pc;
  margin-left: 17pc;
}
.nav1{
  float: right;
  margin-top: 5pc;
  padding: 0;
  margin-left: 750px;
  width: 300px;
}
.nav1 li{
  display: inline;
}
.nav1 a{
  font-size: 20px;
  padding: 0px 25px;
  text-decoration: none;
  color: black;
  font-family: monospace;
}

.contenedor{
	padding: 15px;

}
.registro{
	margin:auto;
	background: white;
	margin-top: 150px;
	padding: 3px;
	border-radius: 10px;
	width: 500px;
}
.nom{
	margin-left: -40pc;
}
h1{
	text-align: center;
	color:#03051E;
	font-size: 35px;
}
input[type="text"]{
	float: right;
	font-size: 15px;
	width: 70%;
	padding: 5px;
	border: ;
	margin-right: 30px;
}
input[type="password"]{
	margin-top: 30px;
	float: right;
	font-size: 15px;
	width: 70%;
	padding: 5px;
	border: ;
	margin-right: 30px;
}
#un{
	float: left;
	margin-left: 20px;
	margin-top: -10px;
}
#do{
	float: left;
	margin-top: 30px;
	margin-left: -50px;
}
.boton{
	border: 0px solid black;
	color: white;
	background: #03051E;
	padding: 8px 15%;
    margin-bottom: 15px;
     margin-left: 29%;
     font-weight: bold;
     margin-top: 40px;
}
.boton:hover {
    background: #848484;
}
p{
	text-align: center;
	color: #626264;
}
a{
	font-weight: 600;
	text-decoration: none;
	color: #333335;
	margin-left: 50px;
}
a:hover{
	color:aqua;
}
#par{
	margin-right: 50px;
}
