body{
	font-family: serif;
	margin: 0;
	padding: 0;
	border:none;   
	background: #009FFF; 
	background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
	background: linear-gradient(to right, #ec2F4B, #009FFF); 
}
*{
	box-sizing: border-box;
}
#contenedor{
	padding: 15px;	

}
.registro{
	box-shadow: 0px 0px 30px white;
	background: transparent;
	border: 1px solid black;
	margin:auto;
	position: relative;
	margin-top: 150px;
	padding: 3px;
	border-radius: 10px;
	width: 500px;
	height: 300px;	
	

}

h1{
	text-align: center;
	color:#fff;
	font-size: 30px;
}
p{
	color: #fff;
	float: left;
	margin-left: 53px;

}

input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 15px;
	width: 80%;
	padding: 5px;
	margin-left: 40px;

}
input[type="submit"]{
	float: right;
	margin-top: 27px;
	margin-right: 100px;
	font-size: 16px;
	padding: 7px 15px;
	background: transparent;
	border-color: aqua;
	color:white;
	border-radius: 15px;
}
a{

	font-weight: 600;
	text-decoration: none;
	color: #fff;
	float: left;
	margin-left: 80px;
	margin-top: 30px;

}
a:hover{
	color:aqua;
}
input::placeholder{
	color: #2E2E2E;
}

